:global body {
  background-color: #000000;
  color: #ffffff;
}

:global :lang(ko) {
  font-family: "Pretendard Variable", sans-serif;
}

:global :lang(en) {
  font-family: "Roboto", sans-serif;
}

:global .fade-enter-active,
:global .fade-leave-active {
  transition: opacity 0.8s ease;
}

:global .fade-enter-from,
:global .fade-leave-to {
  opacity: 0;
}
