// flex 레이아웃
@mixin flex($jc: flex-start, $ai: stretch, $gap: 0) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
  gap: $gap;

  @supports not (gap: 1px) {
    margin-top: -$gap;
    margin-bottom: -$gap;

    > * {
      margin-top: $gap;
      margin-bottom: $gap;
    }
  }
}

// flex-direction: column 고정 버전
@mixin flex-col($jc: flex-start, $ai: stretch, $gap: 0) {
  display: flex;
  flex-direction: column;
  justify-content: $jc;
  align-items: $ai;
  gap: $gap;

  @supports not (gap: 1px) {
    margin-top: -$gap;
    margin-bottom: -$gap;

    > * {
      margin-top: $gap;
      margin-bottom: $gap;
    }
  }
}

// inline-flex 레이아웃
@mixin flex-inline($jc: flex-start, $ai: stretch, $gap: 0) {
  @include flex($jc, $ai, $gap);
  display: inline-flex;
}

// inline-flex 세로 레이아웃
@mixin flex-col-inline($jc: flex-start, $ai: stretch, $gap: 0) {
  @include flex-col($jc, $ai, $gap);
  display: inline-flex;
}

// 역순 세로 레이아웃
@mixin flex-col-reverse($jc: flex-start, $ai: stretch, $gap: 0) {
  @include flex($jc, $ai, $gap);
  flex-direction: column-reverse;
}

// 가로 레이아웃 방향 초기화
@mixin flex-row($jc: flex-start, $ai: stretch, $gap: 0) {
  @include flex($jc, $ai, $gap);
  flex-direction: row;
}
