// flex 레이아웃
@mixin flex($jc: flex-start, $ai: stretch, $gap: 0) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
  gap: $gap;

  @supports not (gap: 1px) {
    margin-top: -$gap;
    margin-bottom: -$gap;

    > * {
      margin-top: $gap;
      margin-bottom: $gap;
    }
  }
}

// flex-direction: column 고정 버전
@mixin flex-col($jc: flex-start, $ai: stretch, $gap: 0) {
  display: flex;
  flex-direction: column;
  justify-content: $jc;
  align-items: $ai;
  gap: $gap;

  @supports not (gap: 1px) {
    margin-top: -$gap;
    margin-bottom: -$gap;

    > * {
      margin-top: $gap;
      margin-bottom: $gap;
    }
  }
}
