@mixin glass(
  $width: 200px,
  $height: 50px,
  $blur: 14px,
  $saturate: 160%,
  $font-size: 1.8rem,
  $color: #fff
) {
  width: $width;
  height: $height;
  background: rgba(255, 255, 255, 0.01);
  backdrop-filter: blur($blur) saturate($saturate);
  // 아이폰 전용
  -webkit-backdrop-filter: blur($blur) saturate($saturate);

  box-shadow:
    -2px -2px 2px rgba(255, 255, 255, 0.2),
    6px 10px 24px rgba(0, 0, 0, 0.35),
    inset 0 1px 0 rgba(255, 255, 255, 0.08),
    inset 0 -1px 0 rgba(0, 0, 0, 0.22);

  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 0.9rem 1.6rem;
  border-radius: 80px;

  color: $color;
  font-size: $font-size;
  font-weight: 300;
  letter-spacing: 0.2px;
}
