// 배경
$main-bg: #000000;
$sub-bg: #030712;

// 기본 색상
$white: #ffffff;
$title: #aaaaaa;
$dec: #9ca3af;
$border: #bbbbbb;

$point-color: linear-gradient(to right, #818cf8, #c084fc, #60a5fa);

$gradient-blue: linear-gradient(180deg, #00c6ed 0%, #1674f6 100%);
$gradient-purple-blue: linear-gradient(90deg, #9a4fdf 0%, #64a6f1 100%);
// 아이콘 배경
$icon-bg1: #155dfc;
$icon-bg2: #9810fa;
$icon-bg3: #00a63e;
$icon-bg4: #f54a00;
$icon-bg5: #d5f36c;
$icon-bg6: #f3b16c;

// 폰트
$font-ko: 'Pretendard Variable', sans-serif;
$font-en: 'Roboto', sans-serif;
