@media (max-width: 1024px) {
  :global(#about).about-page {
    &.section2 {
      h1 {
        padding-bottom: 5rem;
        font-size: clamp(3rem, 3.906vw, 5rem);
      }

      .section__inner {
        padding-bottom: 150px;

        .about-content-tie {
          flex-direction: column;

          .about-content {
            width: auto;
            margin-right: 0;

            &.pc { display: none; }
            &.mo { display: block; }
            h2 { display: none; }

            p {
              margin-bottom: 3rem;
              text-align: center;
            }
          }

          .setting-card li { width: 100%; }
        }

        .about-cards {
          flex-direction: column;

          li {
            width: 100%;
            margin-bottom: 5rem;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  :global(#about).about-page {
    &.section2 {
      h1 {
        padding: 145px 0 5rem;
        font-size: clamp(2.4rem, 4.364vw, 3rem);
      }

      .section__inner {
        padding-bottom: clamp(100px, 18.182vw, 150px);

        .about-content-tie .about-content {
          h2 { font-size: clamp(1.9rem, 3.455vw, 2.4rem); }

          p {
            font-size: clamp(1.6rem, 2.909vw, 1.8rem);

            strong { font-size: clamp(1.8rem, 3.273vw, 2.1rem); }
          }
        }
      }
    }

    .img-box {
      width: clamp(5rem, 9.091vw, 6rem);
      height: clamp(5rem, 9.091vw, 6rem);
      border-radius: clamp(8px, 2.222vw, 18px);

      img { width: clamp(20px, 3.636vw, 27px); }
    }
  }
}

@media (max-width: 550px) {
  :global(#about).about-page {
    &.section2 .section__inner {
      .about-content-tie {
        .about-content {
          h2 { font-size: clamp(1.7rem, 4.722vw, 1.9rem); }

          p {
            font-size: clamp(1.4rem, 3.889vw, 1.6rem);

            strong { font-size: clamp(1.5rem, 4.167vw, 1.8rem); }
          }
        }

        .setting-card li {
          h3 { font-size: clamp(1.7rem, 4.722vw, 1.9rem); }
          p { font-size: clamp(1.5rem, 4.167vw, 1.6rem); }
        }
      }

      .about-cards li {
        h3 { font-size: clamp(1.7rem, 4.722vw, 1.9rem); }
        p { font-size: clamp(1.5rem, 4.167vw, 1.6rem); }
      }
    }

    .img-box {
      width: clamp(4rem, 11.111vw, 5rem);
      height: clamp(4rem, 11.111vw, 5rem);
    }
  }
}
