@media (max-width: 1024px) {
  :global(#career).career-page h1,
  :global(#education).career-page h1 {
    font-size: clamp(3rem, 3.906vw, 5rem);
  }
}

@media (max-width: 768px) {
  :global(#career).career-page h1,
  :global(#education).career-page h1 {
    font-size: clamp(2.4rem, 4.364vw, 3rem);
  }
}

@media (max-width: 550px) {
  :global(#career).career-page :global(#career).career-page h1,
  :global(#education).career-page :global(#career).career-page h1 {
    padding: clamp(60px, 16.667vw, 145px) 0 35px 0;
  }
}

@media (max-width: 768px) {
  :global(#career).career-page .career__inner::before,
  :global(#career).career-page .education__inner::before,
  :global(#education).career-page .career__inner::before,
  :global(#education).career-page .education__inner::before {
    display: none;
  }
}

@media (max-width: 768px) {
  :global(#career).career-page .career__inner li p,
  :global(#career).career-page .education__inner li p,
  :global(#education).career-page .career__inner li p,
  :global(#education).career-page .education__inner li p {
    font-size: clamp(1.4rem, 2.545vw, 1.6rem);
  }
}

@media (max-width: 1024px) {
  :global(#career).career-page .career__inner li .img-box img,
  :global(#career).career-page .education__inner li .img-box img,
  :global(#education).career-page .career__inner li .img-box img,
  :global(#education).career-page .education__inner li .img-box img {
    width: clamp(40px, 5.208vw, 59px);
  }
}

@media (max-width: 1024px) {
  :global(#career).career-page .career__inner li .img-box.jc img,
  :global(#career).career-page .education__inner li .img-box.jc img,
  :global(#education).career-page .career__inner li .img-box.jc img,
  :global(#education).career-page .education__inner li .img-box.jc img {
    width: clamp(40px, 5.208vw, 59px);
  }
}

@media (max-width: 768px) {
  :global(#career).career-page .career__inner li .company-business-box h3,
  :global(#career).career-page .career__inner li .educatio-business-box h3,
  :global(#career).career-page .education__inner li .company-business-box h3,
  :global(#career).career-page .education__inner li .educatio-business-box h3,
  :global(#education).career-page .career__inner li .company-business-box h3,
  :global(#education).career-page .career__inner li .educatio-business-box h3,
  :global(#education).career-page .education__inner li .company-business-box h3,
  :global(#education).career-page .education__inner li .educatio-business-box h3 {
    font-size: clamp(1.6rem, 2.909vw, 1.9rem);
  }
}

@media (max-width: 768px) {
  :global(#career).career-page .career__inner li:nth-child(1),
  :global(#career).career-page .education__inner li:nth-child(1),
  :global(#education).career-page .career__inner li:nth-child(1),
  :global(#education).career-page .education__inner li:nth-child(1) {
    margin: 0 0 2rem 0;
  }
  :global(#career).career-page .career__inner li:nth-child(1):last-child,
  :global(#career).career-page .education__inner li:nth-child(1):last-child,
  :global(#education).career-page .career__inner li:nth-child(1):last-child,
  :global(#education).career-page .education__inner li:nth-child(1):last-child {
    margin-bottom: 0;
  }
}

@media (max-width: 1024px) {
  :global(#career).career-page .career__inner li:nth-child(1)::before,
  :global(#career).career-page .education__inner li:nth-child(1)::before,
  :global(#education).career-page .career__inner li:nth-child(1)::before,
  :global(#education).career-page .education__inner li:nth-child(1)::before {
    width: 20px;
    height: 20px;
    left: -52px;
  }
}

@media (max-width: 768px) {
  :global(#career).career-page .career__inner li:nth-child(1)::before,
  :global(#career).career-page .education__inner li:nth-child(1)::before,
  :global(#education).career-page .career__inner li:nth-child(1)::before,
  :global(#education).career-page .education__inner li:nth-child(1)::before {
    display: none;
  }
}

@media (max-width: 768px) {
  :global(#career).career-page .career__inner li:nth-child(2),
  :global(#career).career-page .education__inner li:nth-child(2),
  :global(#education).career-page .career__inner li:nth-child(2),
  :global(#education).career-page .education__inner li:nth-child(2) {
    margin: 0 0 2rem 0;
  }
  :global(#career).career-page .career__inner li:nth-child(2):last-child,
  :global(#career).career-page .education__inner li:nth-child(2):last-child,
  :global(#education).career-page .career__inner li:nth-child(2):last-child,
  :global(#education).career-page .education__inner li:nth-child(2):last-child {
    margin-bottom: 0;
  }
}

@media (max-width: 1024px) {
  :global(#career).career-page .career__inner li:nth-child(2)::before,
  :global(#career).career-page .education__inner li:nth-child(2)::before,
  :global(#education).career-page .career__inner li:nth-child(2)::before,
  :global(#education).career-page .education__inner li:nth-child(2)::before {
    width: 20px;
    height: 20px;
    left: -52px;
  }
}

@media (max-width: 768px) {
  :global(#career).career-page .career__inner li:nth-child(2)::before,
  :global(#career).career-page .education__inner li:nth-child(2)::before,
  :global(#education).career-page .career__inner li:nth-child(2)::before,
  :global(#education).career-page .education__inner li:nth-child(2)::before {
    display: none;
  }
}

@media (max-width: 768px) {
  :global(#career).career-page .career__inner li:nth-child(3),
  :global(#career).career-page .education__inner li:nth-child(3),
  :global(#education).career-page .career__inner li:nth-child(3),
  :global(#education).career-page .education__inner li:nth-child(3) {
    margin: 0 0 2rem 0;
  }
  :global(#career).career-page .career__inner li:nth-child(3):last-child,
  :global(#career).career-page .education__inner li:nth-child(3):last-child,
  :global(#education).career-page .career__inner li:nth-child(3):last-child,
  :global(#education).career-page .education__inner li:nth-child(3):last-child {
    margin-bottom: 0;
  }
}

@media (max-width: 1024px) {
  :global(#career).career-page .career__inner li:nth-child(3)::before,
  :global(#career).career-page .education__inner li:nth-child(3)::before,
  :global(#education).career-page .career__inner li:nth-child(3)::before,
  :global(#education).career-page .education__inner li:nth-child(3)::before {
    width: 20px;
    height: 20px;
    left: -52px;
  }
}

@media (max-width: 768px) {
  :global(#career).career-page .career__inner li:nth-child(3)::before,
  :global(#career).career-page .education__inner li:nth-child(3)::before,
  :global(#education).career-page .career__inner li:nth-child(3)::before,
  :global(#education).career-page .education__inner li:nth-child(3)::before {
    display: none;
  }
}

@media (max-width: 768px) {
  :global(#career).career-page .career__inner li:nth-child(4),
  :global(#career).career-page .education__inner li:nth-child(4),
  :global(#education).career-page .career__inner li:nth-child(4),
  :global(#education).career-page .education__inner li:nth-child(4) {
    margin: 0 0 2rem 0;
  }
  :global(#career).career-page .career__inner li:nth-child(4):last-child,
  :global(#career).career-page .education__inner li:nth-child(4):last-child,
  :global(#education).career-page .career__inner li:nth-child(4):last-child,
  :global(#education).career-page .education__inner li:nth-child(4):last-child {
    margin-bottom: 0;
  }
}

@media (max-width: 1024px) {
  :global(#career).career-page .career__inner li:nth-child(4)::before,
  :global(#career).career-page .education__inner li:nth-child(4)::before,
  :global(#education).career-page .career__inner li:nth-child(4)::before,
  :global(#education).career-page .education__inner li:nth-child(4)::before {
    width: 20px;
    height: 20px;
    left: -52px;
  }
}

@media (max-width: 768px) {
  :global(#career).career-page .career__inner li:nth-child(4)::before,
  :global(#career).career-page .education__inner li:nth-child(4)::before,
  :global(#education).career-page .career__inner li:nth-child(4)::before,
  :global(#education).career-page .education__inner li:nth-child(4)::before {
    display: none;
  }
}

@media (max-width: 768px) {
  :global(#career).career-page .career__inner li:nth-child(5),
  :global(#career).career-page .education__inner li:nth-child(5),
  :global(#education).career-page .career__inner li:nth-child(5),
  :global(#education).career-page .education__inner li:nth-child(5) {
    margin: 0 0 2rem 0;
  }
  :global(#career).career-page .career__inner li:nth-child(5):last-child,
  :global(#career).career-page .education__inner li:nth-child(5):last-child,
  :global(#education).career-page .career__inner li:nth-child(5):last-child,
  :global(#education).career-page .education__inner li:nth-child(5):last-child {
    margin-bottom: 0;
  }
}

@media (max-width: 1024px) {
  :global(#career).career-page .career__inner li:nth-child(5)::before,
  :global(#career).career-page .education__inner li:nth-child(5)::before,
  :global(#education).career-page .career__inner li:nth-child(5)::before,
  :global(#education).career-page .education__inner li:nth-child(5)::before {
    width: 20px;
    height: 20px;
    left: -52px;
  }
}

@media (max-width: 768px) {
  :global(#career).career-page .career__inner li:nth-child(5)::before,
  :global(#career).career-page .education__inner li:nth-child(5)::before,
  :global(#education).career-page .career__inner li:nth-child(5)::before,
  :global(#education).career-page .education__inner li:nth-child(5)::before {
    display: none;
  }
}

@media (max-width: 768px) {
  :global(#career).career-page .career__inner li:nth-child(6),
  :global(#career).career-page .education__inner li:nth-child(6),
  :global(#education).career-page .career__inner li:nth-child(6),
  :global(#education).career-page .education__inner li:nth-child(6) {
    margin: 0 0 2rem 0;
  }
  :global(#career).career-page .career__inner li:nth-child(6):last-child,
  :global(#career).career-page .education__inner li:nth-child(6):last-child,
  :global(#education).career-page .career__inner li:nth-child(6):last-child,
  :global(#education).career-page .education__inner li:nth-child(6):last-child {
    margin-bottom: 0;
  }
}

@media (max-width: 1024px) {
  :global(#career).career-page .career__inner li:nth-child(6)::before,
  :global(#career).career-page .education__inner li:nth-child(6)::before,
  :global(#education).career-page .career__inner li:nth-child(6)::before,
  :global(#education).career-page .education__inner li:nth-child(6)::before {
    width: 20px;
    height: 20px;
    left: -52px;
  }
}

@media (max-width: 768px) {
  :global(#career).career-page .career__inner li:nth-child(6)::before,
  :global(#career).career-page .education__inner li:nth-child(6)::before,
  :global(#education).career-page .career__inner li:nth-child(6)::before,
  :global(#education).career-page .education__inner li:nth-child(6)::before {
    display: none;
  }
}

@media (max-width: 768px) {
  :global(#career).career-page .btn-box,
  :global(#education).career-page .btn-box {
    margin: 0 auto clamp(100px, 13.333vw, 120px);
  }
}

@media (max-width: 768px) {
  :global(#career).career-page .btn-box :global(#more-btn),
  :global(#education).career-page .btn-box :global(#more-btn) {
    max-width: clamp(180px, 32.727vw, 225px);
    padding: 1.5rem;
    font-size: 1.55rem;
  }
}

.root {}
