@media (max-width: 1024px) {
  .main-intro-page.section1 .section__inner {
    h2 {
      text-align: center;
      font-size: clamp(2.4rem, 3.125vw, 3rem);

      strong { font-size: clamp(3rem, 3.906vw, 5rem); }
    }

    p {
      text-align: center;
      font-size: clamp(1.8rem, 2.344vw, 2.2rem);
    }

    .section__inner-content {
      flex-direction: column-reverse;
      align-items: center;
      justify-content: normal;

      li:first-child {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .img-box {
        display: initial;
        margin-bottom: 5rem;

        .font-end-info-icon { left: -50px; }
        .dev-icon { top: 0; }
        .design-icon { left: -50px; }
      }
    }
  }
}

@media (max-width: 768px) {
  .main-intro-page.section1 .section__inner {
    h2 {
      font-size: clamp(2rem, 3.636vw, 2.4rem);

      strong { font-size: clamp(2.4rem, 4.364vw, 3rem); }
    }

    p { font-size: clamp(1.6rem, 2.909vw, 1.8rem); }

    .section__inner-content {
      margin: clamp(100px, 18.182vw, 165px) 0;

      .img-box {
        .circle {
          width: clamp(250px, 45.455vw, 325px);
          height: clamp(250px, 45.455vw, 325px);

          img {
            top: clamp(30px, 5.455vw, 55px);
            left: clamp(30px, 5.455vw, 58px);
            max-width: clamp(170px, 30.909vw, 200px);
          }
        }

        .dev-icon {
          right: clamp(1px, 0.182vw, -25px);
          width: clamp(55px, 10vw, 65px);
          height: clamp(55px, 10vw, 65px);
        }

        .design-icon {
          bottom: clamp(1px, 0.182vw, 40px);
          left: -18px;
          width: clamp(40px, 7.273vw, 65px);
          height: clamp(40px, 7.273vw, 65px);
        }
      }
    }
  }

  .glass {
    width: clamp(180px, 32.727vw, 220px);
    height: clamp(45px, 8.182vw, 60px);
    font-size: clamp(1.6rem, 2.909vw, 2rem);
  }
}

@media (max-width: 550px) {
  .main-intro-page.section1 .section__inner .section__inner-content .img-box .font-end-info-icon {
    &.glass {
      width: clamp(150px, 41.667vw, 170px);
      font-size: clamp(1.4rem, 3.889vw, 1.6rem);
    }

    span::before { left: clamp(13px, 3.611vw, 20px); }
  }
}
