@media (max-width: 1024px) {
  :global(#project).project-page .project-track {
    gap: 2.4rem;
  }

  :global(#project).project-page .project-card {
    flex-basis: clamp(34rem, 42vw, 43rem);
    width: clamp(34rem, 42vw, 43rem);
    padding: 1.8rem;
  }

  :global(#project).project-page .project-img {
  }
}

@media (max-width: 768px) {
  :global(#project).project-page {
    padding-bottom: 10rem;
  }

  :global(#project).project-page .project-track {
    gap: 2rem;
  }

  :global(#project).project-page .project-card {
    flex-basis: 55vw;
    width: 55vw;
    padding: 1.6rem;
    border-radius: 2rem;
  }

  :global(#project).project-page .project-img {
    border-radius: 1.4rem;
  }

  :global(#project).project-page .hashtags {
    margin-bottom: 2.4rem;
  }
}

@media (max-width: 550px) {
  :global(#project).project-page .project-track {
    gap: 1.6rem;
  }

  :global(#project).project-page .project-card {
    flex-basis: 72vw;
    width: 72vw;
    padding: 1.4rem;
    border-radius: 1.8rem;
  }

  :global(#project).project-page .project-img {
    border-radius: 1.2rem;
  }

  :global(#project).project-page .btn-box {
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
  }

  :global(#project).project-page .project-btn.glass {
    width: 100%;
  }
}
