:global(#skill).skill-page {
  background-color: #030712;

  :global(.fa-angle-down) {
    transform: rotate(-90deg);
  }

  .skill__inner {
    width: 90%;
    padding-bottom: 25rem;
    margin: 0 auto;
  }

  h2 {
    padding: 145px 0 35px;
    margin: 0 auto;
    text-align: center;
    font-size: clamp(4rem, 3.9063vw, 5.5rem);
    font-weight: 600;
    letter-spacing: 5px;
  }

  .skills-box {
    @include flex(space-evenly, stretch, 2rem);

    li {
      @include flex(null, flex-start, null);
      width: 25%;
    }

    .skill__inner {
      .skill-list {
        width: 100%;

        > li {
          @include flex(null, flex-start, null);
          width: 100%;
          margin-bottom: 15px;

          &.skill-li {
            @include flex-col(null, flex-start, null);

            .etc-skill-tab {
              @include flex(null, null, 1rem);
              flex-wrap: wrap;
              width: 100%;
              margin-top: 0.5rem;
              font-size: 1.3rem;

              a {
                padding: 1rem;
                border: 1px solid #bbbbbb;
                border-radius: 0.5rem;
                text-align: center;
              }
            }
          }

          &:first-child {
            @include flex-col(null, flex-start, null);

            h3 {
              margin-bottom: 1.5rem;
              font-size: clamp(1.8rem, 1.758vw, 2.1rem);
              font-weight: 600;
            }

            .icon-box {
              @include flex(center);
              width: clamp(50px, 4.883vw, 60px);
              height: clamp(50px, 4.883vw, 60px);
              padding: 1.3rem;
              margin-bottom: 1.5rem;
              border-radius: 0.8rem;

              &.front {
                background: linear-gradient(133deg, #faab89 0%, #f54a00 100%);
              }
              &.design {
                background: linear-gradient(133deg, #dfbfff 0%, #c084fc 100%);
              }
              &.collaboration {
                background: linear-gradient(133deg, #709cff 0%, #155dfc 100%);
              }
            }
          }

          .skill-name {
            width: 200px;
            margin-bottom: 1rem;
            color: #9ca3af;
            font-size: clamp(1.5rem, 1.465vw, 1.7rem);
            font-weight: 200;
          }

          .skill-level {
            @include flex;
            width: 100%;
            height: 20px;
            overflow: hidden;
            border-radius: 1rem;
            background: rgba(51, 51, 51, 0.4392156863);

            .skill-bar {
              width: 0;
              height: 100%;
              border-radius: 1rem;
              background: linear-gradient(90deg, #ff9966, #822d30);
            }
          }
        }
      }

      &:is(.design-skill, .collaboration-skill, .etc-skill) .skill-list .skill-name {
        width: 100%;
        padding: 0.9rem 1.8rem;
        border-radius: 1rem;
        background-color: #1e2939;
      }

      &.run .skill-bar {
        animation: fillBar 2.5s ease-in-out;
      }
    }
  }

  .glass {
    @include flex-inline(center, center);
    width: 100%;
    height: stretch;
    padding: 3.5rem 3rem;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.01);
    box-shadow:
      -2px -2px 2px rgba(255, 255, 255, 0.2),
      6px 10px 24px rgba(0, 0, 0, 0.35),
      inset 0 1px 0 rgba(255, 255, 255, 0.08),
      inset 0 -1px 0 rgba(0, 0, 0, 0.22);
    color: #fff;
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 0.2px;
    backdrop-filter: blur(4px) saturate(180%);
    -webkit-backdrop-filter: blur(4px) saturate(180%);
  }
}

@keyframes fillBar {
  from {
    width: 0;
  }
  to {
    width: var(--target-width);
  }
}

.reveal {
  opacity: 0;
  transform: translateY(40px);
}
