@media (max-width: 1024px) {
  :global(#skill).skill-page {
    h2 {
      font-size: clamp(3rem, 3.906vw, 4rem);
    }
    .skills-box {
      @include flex-col(space-evenly, stretch, 3rem);

      li {
        width: 100%;
      }

      .skill__inner:is(.design-skill, .collaboration-skill) {
        height: 300px;
      }
    }
  }
}

@media (max-width: 768px) {
  :global(#skill).skill-page {
    h2 {
      font-size: clamp(2.4rem, 4.364vw, 3rem);
    }
    .skills-box .skill__inner .skill-list > li {
      &:first-child h3 {
        font-size: clamp(1.6rem, 2.909vw, 1.8rem);
      }
      .skill-name {
        font-size: clamp(1.4rem, 2.545vw, 1.5rem);
      }
    }
  }
}

@media (max-width: 550px) {
  :global(#skill).skill-page .skills-box .skill__inner .skill-list > li:first-child .icon-box {
    width: clamp(4rem, 11.111vw, 5rem);
    height: clamp(4rem, 11.111vw, 5rem);
  }
}
