@media (max-width: 1024px) {
  :global(#skill).skill-page {
    .skill__inner { padding-bottom: clamp(15rem, 19.531vw, 25rem); }
    h1 { font-size: clamp(3rem, 3.906vw, 5rem); }
    p.desc { margin-bottom: clamp(6rem, 7.813vw, 12.8rem); }

    .skills-box {
      flex-direction: column;
      gap: 5rem;

      li { width: 100%; }

      .skill__inner:is(.design-skill, .collaboration-skill) { height: 300px; }
    }
  }
}

@media (max-width: 768px) {
  :global(#skill).skill-page {
    h1 { font-size: clamp(2.4rem, 4.364vw, 3rem); }
    p.desc { font-size: clamp(1.4rem, 2.545vw, 1.6rem); }

    .skills-box .skill__inner .skill-list > li {
      &:first-child h3 { font-size: clamp(1.6rem, 2.909vw, 1.8rem); }
      .skill-name { font-size: clamp(1.4rem, 2.545vw, 1.5rem); }
    }
  }
}

@media (max-width: 550px) {
  :global(#skill).skill-page .skills-box .skill__inner .skill-list > li:first-child .icon-box {
    width: clamp(4rem, 11.111vw, 5rem);
    height: clamp(4rem, 11.111vw, 5rem);
  }
}
