@media (max-width: 1024px) {
  :global(#footer).portfolio-footer {
    img {
      width: clamp(150px, 27.273vw, 190px);
      margin-right: 0;
      margin-bottom: 3rem;
    }

    .footer__inner {
      flex-direction: column;
      width: 90%;
      margin: 0 auto;
      text-align: center;
    }
  }
}

@media (max-width: 768px) {
  :global(#footer).portfolio-footer .footer__inner li {
    font-size: clamp(1.8rem, 3.273vw, 2.1rem);

    &.dec {
      font-size: clamp(1.4rem, 2.545vw, 1.6rem);

      strong {
        font-size: clamp(1.5rem, 2.727vw, 1.7rem);
      }
    }
  }
}

@media (max-width: 550px) {
  :global(#footer).portfolio-footer .footer__inner .btn-box .glass {
    width: clamp(120px, 33.333vw, 180px);
    font-size: clamp(1.4rem, 3.889vw, 1.5rem);
  }
}
