:global(#footer).portfolio-footer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 500px;
  isolation: isolate;

  img {
    width: 190px;
    margin-right: 2rem;
  }

  .footer__inner {
    display: flex;
    align-items: center;
    justify-content: center;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      z-index: -1;
      background: url("/assets/image/footer/bg.png") no-repeat center;
      opacity: 0.5;
    }

    li {
      font-size: clamp(2.1rem, 2.734vw, 2.5rem);
      font-weight: 600;

      &.title {
        margin-bottom: 1rem;
      }

      &.dec {
        color: #9ca3af;
        font-size: clamp(1.6rem, 2.083vw, 1.7rem);
        font-weight: 400;
        line-height: 1.5;

        strong {
          color: #fff;
          font-size: clamp(1.7rem, 2.214vw, 1.9rem);
        }
      }

      &.btn-box {
        margin-top: 2rem;

        a:first-child {
          margin-right: 1.5rem;
        }

        .glass {
          @include glass(
            $width: 180px,
            $height: 40px,
            $font-size: clamp(1.5rem, 1.953vw, 1.6rem)
          );
        }
      }
    }
  }
}
