@media (max-width: 1024px) {
  :global #footer img {
    margin-right: unset;
    margin-bottom: 3rem;
    width: clamp(150px, 27.273vw, 190px);
  }
}

@media (max-width: 1024px) {
  :global #footer .footer__inner {
    flex-direction: column;
    text-align: center;
    width: 90%;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  :global #footer .footer__inner ul li {
    font-size: clamp(1.8rem, 3.273vw, 2.1rem);
  }
}

@media (max-width: 768px) {
  :global #footer .footer__inner ul li.dec {
    font-size: clamp(1.4rem, 2.545vw, 1.6rem);
  }
}

@media (max-width: 768px) {
  :global #footer .footer__inner ul li.dec strong {
    font-size: clamp(1.5rem, 2.727vw, 1.7rem);
  }
}

@media (max-width: 550px) {
  :global #footer .footer__inner ul li.btn-box .glass {
    width: clamp(120px, 33.333vw, 180px);
    font-size: clamp(1.4rem, 3.889vw, 1.5rem);
  }
}

.root {}
